<h1
  class="font-bold italic text-lg"
  style="text-shadow: 2px 1px 1px #ccc"
>Купить стальные двери по низким ценам от производителя МОССПЕЦМОНТАЖ в Москве и Московской области</h1>

<p>После напряженного трудового дня Вы приходите в свою квартиру или дом. Первое, что Вы видите – это Ваша входная
  дверь. Она должна Вас радовать своим внешним видом, надежностью в эксплуатации, хорошей тепло и звукоизоляцией. Если
  Вас радует входная дверь, то хорошее настроение на вечер Вам обеспечено.
</p>

<p>Наша компания производит двери по индивидуальным заказам. Как говорят в народе, «на вкус и цвет товарища нет»,
  поэтому мы учитываем все пожелания своих заказчиков.
</p>


<section>
  <img class="float-right" src="assets/offer-min.jpg" alt="akcia">
</section>
