<h1 class="font-bold text-center mb-2">Каталог нашей продукции</h1>

<section class="flex space-x-8">
  <app-catalog-unit
    imgSrc="assets/ekonom-s.jpg"
    name="Эконом-класс"
    [price]="catalogService.minEkonom"
  ></app-catalog-unit>

  <app-catalog-unit
    imgSrc="assets/laminat-s.jpg"
    name="Ламинат"
    [price]="catalogService.minLaminat"
  ></app-catalog-unit>

  <app-catalog-unit
    imgSrc="assets/powder-s.jpg"
    name="Порошковые"
    [price]="catalogService.minPowder"
  ></app-catalog-unit>

  <app-catalog-unit
    imgSrc="assets/mdf-s.jpg"
    name="МДФ"
    [price]="catalogService.minMdf"
  ></app-catalog-unit>

  <app-catalog-unit
    imgSrc="assets/tambur-s.jpg"
    name="Тамбурные"
    [price]="catalogService.minTambur"
  ></app-catalog-unit>

  <app-catalog-unit
    imgSrc="assets/porch-s.jpg"
    name="Подъездные"
    [price]="catalogService.minPorch"
  ></app-catalog-unit>

  <app-catalog-unit
    imgSrc="assets/elite-s.jpg"
    name="Элитные"
    [price]="catalogService.minElite"
  ></app-catalog-unit>
</section>
