<table
>
  <tr class="border-gray-600 border-b border-t">
    <td width="300px">Игорь Юрьевич (Москва)</td>
    <td width="300px">
      <app-phone link="+74957924222">8 (495) 792-42-22</app-phone>
      <app-phone link="+74957905030">8 (495) 790-50-30</app-phone>
    </td>


  </tr>

  <tr class="border-gray-600 border-b">
    <td>Нина Алексеевна (Подольск)</td>
    <td>
      <app-phone link="+74967607874">8 (4967) 60-78-74</app-phone>
      <app-phone link="+79161874992">8 (916) 187-49-92</app-phone>
    </td>
  </tr>

  <tr class="border-gray-600 border-b">
    <td>Ольга Алексеевна (Одинцово)</td>
    <td>
      <app-phone link="+74955915161">8 (495) 591-51-61</app-phone>
    </td>
  </tr>

  <tr class="border-gray-600 border-b">
    <td>E-mail</td>
    <td>
      <div>
        <a href="mailto:dveri_stal@mail.ru">dveri_stal@mail.ru</a>
      </div>
      <div>
        <a href="mailto:mail@mspecm.ru">mail@mspecm.ru</a>
      </div>
    </td>
  </tr>
</table>
