<table>
  <tbody class="bg-white text-xs divide-y divide-gray-200">
  <tr>
    <td class="px-2 py-4 whitespace-nowrap">Установка в готовый проем</td>
    <td class="px-2 py-4 whitespace-nowrap"> от 2000 рублей</td>
  </tr>
  <tr>
    <td class="px-2 py-4 whitespace-nowrap">Демонтаж старой двери из дерева</td>
    <td class="px-2 py-4 whitespace-nowrap">от 300 рублей</td>
  </tr>
  <tr>
    <td class="px-2 py-4 whitespace-nowrap">Демонтаж старой двери из металла</td>
    <td class="px-2 py-4 whitespace-nowrap">от 500 рублей</td>
  </tr>
  <tr>
    <td class="px-2 py-4 whitespace-nowrap">Подъем на этаж</td>
    <td class="px-2 py-4 whitespace-nowrap"> 50 рублей за этаж</td>
  </tr>
  <tr>
    <td class="px-2 py-4 whitespace-nowrap">Заделка швов монтажной пеной</td>
    <td class="px-2 py-4 whitespace-nowrap"> 300 рублей</td>
  </tr>
  <tr>
    <td class="px-2 py-4 whitespace-nowrap">Откосы (доборы, наличники, работа)</td>
    <td class="px-2 py-4 whitespace-nowrap"> от 8000 рублей</td>
  </tr>
  <tr>
    <td class="px-2 py-4 whitespace-nowrap">Выезд мастера в пределах МКАДа</td>
    <td class="px-2 py-4 whitespace-nowrap"> бесплатно</td>
  </tr>
  <tr>
    <td class="px-2 py-4 whitespace-nowrap">Выезд мастера за МКАД, свыше 15 км.</td>
    <td class="px-2 py-4 whitespace-nowrap"> 25 рублей 1км</td>
  </tr>
  <tr>
    <td class="px-2 py-4 whitespace-nowrap">Расширение проема</td>
    <td class="px-2 py-4 whitespace-nowrap"> от 1500 рублей</td>
  </tr>
  <tr>
    <td class="px-2 py-4 whitespace-nowrap">Утепление дверной коробки</td>
    <td class="px-2 py-4 whitespace-nowrap">от 400 рублей</td>
  </tr>
  </tbody>
</table>
